body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  line-height: 2;
}

hr {
  border-style: dotted none none none;
  border-top-width: 7px;
  width: 4%;
  color: #EAF6F6;
}

a:hover {
  color: #EAF6F6;
}
.TopContainer {
  background-color: #E4FBFF;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 20px;

}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}
.profile-img {
  width: 50%;
}
.footer-link {

  color: #11999E;
  margin: 45px 30px 45px 30px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.skills {
  margin: 100px auto 100px auto;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.climbing-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.global-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.profile {
  width: 25%;
  margin: 100px auto 100px auto;

}
.contact-me {
  line-height: 2;
  width: 25%;
  margin: 100px auto 100px auto;

}
.bottom-signature {
  padding: 20px 0;
  color: #EAF6F6;
  font-size: 0.75rem;

}
.btn {
  margin-top: 50px;
   -webkit-border-radius: 61px;
   -moz-border-radius: 61px;
   border-radius: 61px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: 100;
   padding: 20px;
   background-color: #66BFBF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #1E62D0;
   border: solid #99C624 1px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
